*~
.DS_Store
.settings/
.swagger-codegen-ignore

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Other editors
.*.sw[a-z]
.\#*
\#*\#
*~
.vscode

# Python / Django
.pip_cache/
static/
db.*
.project
__pycache__

# virtualenv
.env
env/
venv
